<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
 
<mapper namespace="tech.zxuuu.dao.IBookMapper">

	<select id="searchAuthorByTitle" parameterType="String" resultType="String">
		SELECT `author` FROM `tb_book` WHERE `title` = #{title}
	</select>
    
</mapper>