<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
 
<mapper namespace="tech.zxuuu.dao.IBookMapper">

	<select id="searchAuthorByTitle" parameterType="String" resultType="String">
		SELECT `author` FROM `tb_book` WHERE `title` = #{title}
	</select>
    
    <update id="changeChargableByISBN" parameterType="String" >
    	UPDATE tb_book SET chargable = 0 WHERE isbn=#{ISBN}
    </update>
    <select id="searchTitleByISBN" parameterType="String" resultType="String">
        SELECT title from tb_book WHERE isbn=#{ISBN}
    </select>
    <update id="changeNumberByTitle" parameterType="String">
        UPDATE tb_book SET number=number+1 WHERE title=#{title}
    </update>
    
    <select id="searchBeBorrowed" parameterType="String" resultType="Book">
        SELECT * FROM tb_book WHERE borrower=#{borrower}
     </select>
     
     <update id="returnBookByISBN" parameterType="String" >
        UPDATE tb_book SET chargable=1 WHERE isbn=#{ISBN}
     </update>
     
     <insert id="addBook" parameterType="Book">
	     INSERT INTO tb_book (isbn,title,author,number,chargable,borrower,category,details)
	     VALUES(#{ISBN},#{title},#{author},0,1,"",#{category},#{details})
     </insert>
     
     <delete id="deleteBook">
     DELETE from tb_book WHERE isbn=#{ISBN}
     </delete>
     
     <select id="searchHowManyByISBN" parameterType="String" resultType="int">
	     SELECT COUNT(*) AS number FROM tb_book WHERE isbn=#{ISBN}
     </select>
     
     <select id="fuzzySearchByTitle" parameterType="String" resultType="Book">
	     SELECT *FROM tb_book WHERE title LIKE '%${title}%'
     </select>
     <select id="fuzzySearchByAuthor" parameterType="String" resultType="Book">
     	SELECT *FROM tb_book WHERE title LIKE '%${author}%'
     </select>
     <select id="fuzzySearchByTitleAndAuthor" parameterType="Book" resultType="Book">
     	SELECT *FROM tb_book WHERE title LIKE '%${title}%' AND author LIKE '%${author}%'
     </select>
     
</mapper>