<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
 
<mapper namespace="tech.zxuuu.dao.IStudentMapper">

	<select id="verifyStudent" parameterType="Student" resultType="boolean">
		SELECT COUNT(*) FROM `tb_student` WHERE `card_number`=#{cardNumber} AND `password`=#{password}
	</select>
	
	<select id="getNameByCardNumber" parameterType="String" resultType="String">
		SELECT `name` FROM `tb_student` WHERE `card_number`=#{cardNumber}
	</select>
	
	<select id="getPasswordByUsername" parameterType="String" resultType="String">
		SELECT `password` FROM `tb_student` WHERE `card_number`=#{cardNumber}
	</select>
	
	<select id="getOpenCourseList" parameterType="" resultType="tech.zxuuu.entity.OpenCourseInfo">
		SELECT 
			Id				as "id",
			CourseName		as "courseName",
			Speaker			as "speaker",
			Preview 		as "preview"
			FROM tb_opencourse
	</select>

</mapper>